@font-face {
	font-family: 'arialMT';
	src: url('#{resource['fonts:ArialMT.eot']}&#iefix') format('embedded-opentype'),
		url('#{resource['fonts:ArialMT.woff']}') format('woff'), url('#{resource['fonts:ArialMT.ttf']}')
		format('truetype'), url('#{resource['fonts:ArialMT.svg']}&#ArialMT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arialMTbold';
	src: url('#{resource['fonts:Arial-BoldMT.eot']}&#iefix') format('embedded-opentype'),
		url('#{resource['fonts:Arial-BoldMT.woff']}') format('woff'), url('#{resource['fonts:Arial-BoldMT.ttf']}')
		format('truetype'), url('#{resource['fonts:Arial-BoldMT.svg']}&#Arial-BoldMT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playregular';
	src: url("#{resource['fonts:play-regular-webfont.eot']}");
	src: url("#{resource['fonts:play-regular-webfont.eot']}&#iefix")
		format('embedded-opentype'),
		url("#{resource['fonts:play-regular-webfont.woff']}") format('woff'),
		url("#{resource['fonts:play-regular-webfont.ttf']}")
		format('truetype'),
		url("#{resource['fonts:play-regular-webfont.svg']}&#playregular")
		format('svg');
	font-weight: normal;
	font-style: normal;
}
}.navbar-color {
background-color: #666!important;
}

.navbar-inverse {
background-color: #666!important;
}
.glyphicon-chevron-right,.glyphicon-chevron-left {
	color: orange;
}

.glyphicon-chevron-right:hover,.glyphicon-chevron-left:hover,.glyphicon-chevron-right:focus,.glyphicon-chevron-left:focus
	{
	color: darkorange;
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary
	{
	background-color: #F88017;
	*background-color: darkorange;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(orange),
		to(#0044cc));
	background-image: -webkit-linear-gradient(top, orange, darkorange);
	background-image: -o-linear-gradient(top, orange, darkorange);
	background-image: linear-gradient(to bottom, orange, darkorange);
	background-image: -moz-linear-gradient(top, orange, darkorange);
	background-repeat: repeat-x;
	border-color: darkorange darkorange #E66C2C;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffFFA500',
		endColorstr='#ffFF8C00', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.ui-priority-primary:hover,.ui-priority-primary:active,.ui-priority-primary.active,.ui-priority-primary.disabled,.ui-priority-primary[disabled]
	{
	background-color: darkorange;
}

.ui-priority-primary:active,.ui-priority-primary.active {
	background-color: #003399 \9;
}

.btn-success {
	background-color: #800000;
	border-color: #800000;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success
	{
	background-color: #800000;
	border-color: #800000;
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active
	{
	background-color: #800000;
	border-color: #800000;
}

.btn-success .badge {
	background-color: #800000;
	border-color: #800000;
}

.thumbnail {
	border: 0px !important;
	height: 600px;
}

.thumbnail>img,.thumbnail a>img {
	max-height: 400px;
}

.ui-widget {
	font-family: arialMT !important;
}

.newPromo1 {
	font-family: arialMTbold;
	display: none;
}

.newPromo2 {
	font-family: arialMTbold;
	display: none;
}

.newPromo3 {
	font-family: arialMTbold;
	display: none;
}

.newFlag2 {
	font-family: arialMTbold;
	display: none;
}

.nav-tabs>li>a {
	font-family: arialMTbold !important;
}

#newArr {
	color: rgb(102, 102, 102);
}

#promo {
	color: darkorange !important;
}

.freeship {
	color: darkorange !important;
	font-family: arialMTbold !important;
	font-size: 16px !important;
	padding-top: 15px;
}

#tab-content a {
	font-family: arialMTbold !important;
}

.foot1-title {
	font-family: arialMTbold !important;
}

.foot2-line {
	font-family: arialMT !important;
}

html,body,form {
	font-family: "arialMT" !important;
}

.body {
	font-family: playregular !important;
}

.bwizard-steps .active {
	background: darkorange;
}

.bwizard-steps .active:after {
	border-left-color: darkorange;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	background-color: #666666 !important;
}

.back-top {
	font-size: 18px;
	color: darkorange !important;
}

.back-top:hover,.back-top:focus {
	text-decoration: none !important;
}

.trasparente {
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
}

.visibile {
	display: none !important;
}

.descrVisibile {
	display: none !important;
}

.altezza75 {
	height: 75px;
}

.articolo>h7 {
	visibility: hidden !important;
	display: none;
}



.onSale {
	padding-right: 10px;
}

.tumblr_body {
	font-size: 14px;
	font-family: arialMT !important;
	
	
}

.tumblr_body>p {
margin: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: justify;
}
.tumblr_post {
	
}

.tumblr_title {
	font-size: 24px;
	color: black !important;
	font-family: arialMTbold !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tumblr_body img {
		padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.read_more_container {
	
}

.read_more_container a {
	
}

@media ( max-width : 480px) {
	.thumbnail { 
	border: 0px !important;	
	height:auto !important;
}
