.ui-widget {
	font-family: sinkinregular;
	color: rgb(57, 57, 57);
}

#newArr {
	color: green !important;
}

#promo {
	color: red !important;
}

html,body,form {
	font-family: sinkinregular;
	color: rgb(57, 57, 57);
}

.bwizard-steps .active {
	background: #007ACC;
}

.bwizard-steps .active:after {
	border-left-color: #007ACC;
}

.foot2-line {
	color: #888 !important;
	font-size: 14px !important;
}













.ui-widget {
	font-family: sinkinregular !important;
}

.newPromo1 {
	font-family: sinkinregular;

}

.newPromo2 {
	font-family: sinkinregular;

}

.newPromo3 {
	font-family: sinkinregular;

}

.newFlag2 {
	font-family: sinkinregular;

}

.nav-tabs>li>a {
	font-family: sinkinregular !important;
}




#tab-content a {
	font-family: sinkinregular !important;
}

.foot1-title {
	font-family: sinkinregular !important;
}

.foot2-line {
	font-family: sinkinregular !important;
}

html,body,form {
	font-family: "sinkinregular" !important;
}

.body {
	font-family: sinkinregular !important;
}