.logo-header-account {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-bottom: 1%;
}

.account-body {
	width: 300px;
	text-align: left;
}

.account-body-grid {
	text-align: left;
	width: 400px;
}

.account-reg-grid {
	width: 40%;
	text-align: left;
}

.checksign-container {
	margin-top: 1.5em;
}

.checksign-label {
	margin-left: 1.5em
}

.account-mail {
	width: 180px !important;
}

.account-name {
	width: 180px !important;
}

/*====================================================================================================*/
/* FLUID GRID																						  */
/*====================================================================================================*/
.label-form-grid {
	width: 140px;
}

.div-forgetPsw {
	margin-top: 4px;
}

.pe-fluidgrid-item {
	width: 195px;
	height: 60px;
}

.pe-fluidgrid-item-forgetPsw {
	width: 180px;
	height: 70px !important;
}

.pe-fluidgrid-item-row {
	width: 180px;
	height: auto;
}

.pe-fluidgrid-item input {
	width: 140px;
}

.dynaFormLabel {
	margin-bottom: 7px;
	float: left;
}

.dynaFormLabel {
	margin-bottom: 7px;
	float: left;
}

/*====================================================================================================*/
/* RESPONSIVE																						  */
/*====================================================================================================*/
@MEDIA screen and (max-width:480px) {
	.account-reg-grid {
		width: auto;
		text-align: left;
	}
	.account-body-grid {
		text-align: left;
		width: auto;
	}
	.account-mail {
		width: 145px !important;
	}
	.account-name {
		width: 140px !important;
	}
}