

.label-form {
	width: 40%;
	float: left;
	font-weight: bold;
}

.label-form-30 {
	width: 30%;
	float: left;
	font-weight: bold;
}

.div-form {
	margin-bottom: 1%;
}

.botton-container {
	width: 100%;
	text-align: left;
	margin: 5% auto;
}

.ul-footerLinks {
	float: right;
	list-style: none;
	display: block;
	text-decoration: none;
	padding: 0%;
	webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.ul-footerLinks>li>a {
	text-decoration: none;
	color: #333333;
	font: inherit;
}

.ul-footerLinks>li:after {
	content: "|";
	padding: 0 .5em;
}

.margin-left-small {
	margin-left: 1%;
}

.gray {
	color: #666;
}

.logo-header {
	width: 100%;
	text-align: left;
	margin: 0;
}

.message-panel {
	display: inline-block;
}

.container-panel {
	margin-top: 0em;
	margin-left: 0em;
	padding: 6px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: inline-block;
}

/*=======================================================================================================================*/
/* MODIFICA LAYOUT PRIME FACES */
.ui-layout,.ui-layout-doc,.ui-widget-content,.ui-layout-unit,.ui-layout-wrap,.ui-layout-bd,.ui-layout-hd
	{
	border: none;
}

.ui-widget {
	font-size: 80%;
}

.ui-layout-resizer,ui-layout-resizer-north,ui-layout-resizer-open,ui-layout-resizer-north-open
	{
	display: none !important;
}

.ui-layout-north,.ui-layout-bottom,.ui-layout-south {
	margin: 0px !important;
	padding: 0px !important;
	z-index: 2 !important;
	overflow: visible !important;
}

.ui-messages-error {
	display: inline-block;
}

.ui-panel-titlebar {
	margin-bottom: 1.5em !important;
}
/*=======================================================================================================================*/
@MEDIA screen and (max-width:580px) {
	

}