/* ================================================================================================ 
	CUSTOM PRIMEFACES
================================================================================================*/
.ui-widget {
	font-size: 95% !important;
}

.ui-tooltip {
	font-weight: lighter !important;;
	color: #777 !important;;
	line-height: 1.5em !important;;
	font-size: 10px !important;;
	background-color: #f7f7f7 !important;
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	padding: 8px !important;;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
}

/* ================================================================================================ 
	FINE CUSTOM PRIMEFACES
================================================================================================*/
.
form-titoli {
	margin-bottom: 15px;
	border-bottom: 2px solid #357ebd;
	padding-bottom: 10px;
}



.emptyPnl {
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
	
}

.onSale {
	text-decoration: line-through;
	color: #900;
}

/* ================================================================================================ 
	INIZIO THUMBINALS
================================================================================================*/
.articolo>h5,h6 {
	margin: 2px !important;
}

.articolo>h6 {
	margin: 2px !important;
	font-weight: lighter !important;;
	color: #999 !important;;
	line-height: 1em;
	font-size: .8em;
}

.articolo .price {
	margin: 5% 0 0 0;
}

.caption.articolo {
	height: 86px;
	overflow: hidden;
}

.thumbnail.thumbnail-home
{
	border:none !important;
}

/* ================================================================================================ 
	FINE THUMBINALS
================================================================================================*/

/* ================================================================================================ 
	INIZIO BREACRUMB
================================================================================================*/
.breadcrumb {
	margin-top: 10px;
	font-size: 16px;
}

.breadcrumb>li+li:before {
	color: black !important;;;
}

.breadcrumb>li>a {
	color: black !important;;;
	cursor: default !important;
}

.breadcrumb.breadcrumbLink>li>a.active
{
	cursor: pointer !important;
}

.breadcrumb>li>a.glyphicon-home {
	
	cursor: pointer !important;
}

.breadcrumb>li>a:hover
{
	text-decoration: none; !important;;
}

.breadcrumb>li.active {
	color: black !important;;
}



/* ================================================================================================ 
	FINE BREACRUMB
================================================================================================*/

/* ================================================================================================ 
	INIZIO TAB NAV BAR 
================================================================================================*/
#logo {
	position: static;
	z-index: 29;
	margin-bottom: 10px;
}

.nav-tabs>li>a {
	font-size: 16px !important;
	color: rgb(102, 102, 102) !important;
	font-weight: lighter !important;;
}

#tab-content a {
	font-weight: lighter !important;;
	color: #888 !important;;
	padding: 0 0 0 11px;
	background: url('./images/tabNav/arw_link.gif') no-repeat left
		!important;
}

#content {
	padding-top: 20px !important;;
	padding-bottom: 20px !important;;
}

#contentTabNav {
	padding-top: 20px !important;;
}

.nav-tabs>li.active>a {
	background-color: #f9f9f9 !important;
}

.tab-pane a:HOVER {
	text-decoration: none !important;;
}

#tab-content {
	z-index: 2 !important;
	position: absolute !important;
	width: 1141px !important;
	-moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
	overflow: hidden;
	background: #f9f9f9 !important;
}

.tab-pane.active {
	background-color: #f9f9f9 !important;
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	padding: 18px;
	color: #999 !important;
	font-size: 13px !important;
}

/* ================================================================================================ 
	FINE TAB NAV 
================================================================================================*/

/* ================================================================================================ 
	INIZIO CAROSELLE HOME 
================================================================================================*/
.carousel {
	/*border-top: 3px solid #357ebd;*/
	border-top: none;
	width: width:100% !important;
	overflow: hidden !important;;
	position: relative !important;;
	border-right: none !important;
	border-left: none !important;
	border-bottom: none !important;
	margin-top: 10px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.ui-carousel-header {
	display: none !important;
}

.ui-carousel-viewport>li {
	margin-left: 0px !important;
}

.ui-carousel-viewport {
	position: relative !important;
	overflow: hidden !important;
	width: 1100px !important;
}

/* ================================================================================================ 
	FINE CAROSELLO HOME 
================================================================================================*/

.foot1-title {
	color: #666666;
	font-size: 14px;
	padding: 0px 0px 7px 0px;
	border-bottom: 1px dotted #444;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0px;
}

.foot2-line {
	color: #666666 !important;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

/* ================================================================================================ 
	INIZIO STICKY FOOTER 
================================================================================================*/
html,body,form {
	height: 100% !important;;;
}

#wrap {
	min-height: 100%;
	height: auto !important;;
	/* Negative indent footer by its height */
	margin: 0 auto -230px;
	/* Pad bottom by footer height */
	padding: 0 0 230px;
}

/* Set the fixed height of the footer here */
#footer {
	height: auto !important;
	background-color: #f6f6f6;
	padding: 30px;
	font-size: 12px !important;
	border-top: 1px solid #DDD;
	margin-top: 20px !important;
	width: 100%;
}

#row-copy {
	margin-top: 20px;
	border-top: 1px solid #DDD;
	padding-top: 20px;
}


/* ================================================================================================ 
	FINE STICKY FOOTER 
================================================================================================*/

/* RESPONSIVE */
@media ( min-width : 992px) {
	#logo {
		position: absolute;
		top: 61px;
		right: 5%;
		z-index: 29;
	}
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#content {
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	}
	#contentTabNav {
		padding-top: 0px !important;;
	}
	#footer {
		height: auto !important;;
		margin-top: 2px !important;
		padding: 2px;
	}
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	#wrap {
		margin: 0px !important;
		padding: 0px !important;
	}
	.panel-group {
		margin: 2px !important
	}
	#row-copy {
		margin-left: 2px;
		border-top: 1px solid #DDD;
	}
}