/* header */
.header-panel {
	float: right;
	right: 0;
	bottom: 0;
	top: 0;
	color: inherit;
	background: inherit;
	color: inherit;
}

.header-panel button
{
	border:none !important;
	background-color: black !important;	
	color: white ;
	background-image: none !important;;
}

.header-top-panel {
	width: 100%;
	overflow: hidden;
	background: black;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}



.header-menu-botton {
	float: left;
	margin-right: 5px;
	background: inherit !important;
	border: none !important;
	color: inherit !important;
	font-size: 90%;
}

.header-logo {
	
	padding: 0px !important;
	float: left;
	margin-right: 5%;
	
}


.header-top-panel button {
	border: none;
}

.header-top-panel button {
	color: white !important;
}
/* fine header */

/* pannello tab navigazione */
.header-nav-bar {
	margin-top: 0px important;
	border: none !important;
	background: white !important;
	min-width: 0px !important;
	font-size: 16px !important;;
	box-shadow: 0px 0px 0px !important;
	z-index: 5000;
	width: 100%
	
	
}

.header-container-nav-bar li a
{
	color: inherit !important;
}

.header-container-nav-bar {
		
	margin-top: 40px;
}

ul.ui-tabs-nav  {
	-webkit-margin-before: 0px !important;;
	-webkit-margin-after: 0px !important;;
	-webkit-margin-start: 0px !important;;
	-webkit-margin-end: 0px !important;;
}

.ui-tabs-panel  
{
	background-color:#f9f9f9 !important;
	margin-top:-3px;
	border: 1px solid #DDDDDD !important;
}

.ui-tabs-selected
{
	background-color:#f9f9f9 !important;
	border-color: :#ddd; !important;
	border-style: solid !important;;
	border-width: 1px !important;
	border-bottom-color:#f9f9f9 !important;
	
}


.ui-tabs.ui-tabs-top
{
	border: none !important;
}
/* fine pannello tab navigazione */


/*resposive */

@MEDIA screen and (max-width:670px) {
		.header-container-nav-bar {
		margin-top: 0px !important;
		padding: :0px !important;
		margin-left: 0px;
		float: left;
		width: 100%
		
	}
}

@MEDIA screen and (max-width:228px) {
	
		
	.header-nav-bar li
	{
		margin: 1px !important;
	}
	.ui-menuitem-text
	{
		font-size: 12px !important;
	}
	
}	
}