.ui-widget {
	font-family: sinkinregular !important;
}

.newPromo1 {
font-family: sinkinbold !important;
}

.newPromo2 {
font-family: sinkinbold !important;
}

.newPromo3 {
font-family: sinkinbold !important;
}

.newFlag2 {
font-family: sinkinbold !important;
}

.nav-tabs>li>a {
	font-family: sinkinbold !important;
	font-size: 24px !important;
}

#newArr {
	color: green !important;
}

#promo {
	color: red !important;
}

#tab-content a {
	font-family: sinkinbold !important;
}

.foot1-title {
	font-family: sinkinbold !important;
	color: #880421 !important;
	border-bottom-color: #880421 !important;
	
}

.foot2-line {
	font-family: sinkinregular !important;
}

html,body,form {
	font-family: sinkinregular !important;
}

.bwizard-steps .active {
	background: #007ACC;
}

.bwizard-steps .active:after {
	border-left-color: #007ACC;
}

.thumbnail {
	padding: 1px !important;
	height: 650px;
}



.navbar-inverse 
{
background-color: #880421 !important;
border-color: #880421 !important;
}

.navbar-nav>.open>a, 
.navbar-nav>.open>a:hover 
{
background-color: #880421 !important;
border-color: #880421 !important;
}

.navbar-inverse .navbar-nav>li>a {
color: white !important;
}

.more-title, .show-more-link {
color: #880421 !important;
}

h3, .h3 {
font-size: 14px !important;
}


