.ui-widget {
	font-family: playregular !important;
}

.newPromo1 {
font-family: playbold !important;
}

.newPromo2 {
font-family: playbold !important;
}

.newPromo3 {
font-family: playbold !important;
}

.newFlag2 {
font-family: playbold !important;
}

.nav-tabs>li>a {
	font-family: playbold !important;
}

#newArr {
	color: green !important;
}

#promo {
	color: red !important;
}

#tab-content a {
	font-family: playbold !important;
}

.foot1-title {
	font-family: playbold !important;
}

.foot2-line {
	font-family: playregular !important;
}

html,body,form {
	font-family: playregular !important;
}

.bwizard-steps .active {
	background: #007ACC;
}

.bwizard-steps .active:after {
	border-left-color: #007ACC;
}

.thumbnail {
	padding: 1px !important;
	height: 650px;
}
