.ui-widget {
	font-family: sinkinregular;
	color: rgb(57, 57, 57);
}

#newArr {
	color: green !important;
}

#promo {
	color: red !important;
}

html,body,form {
	font-family: sinkinregular;
	color: rgb(57, 57, 57);
}

.bwizard-steps .active {
	background: #007ACC;
}

.bwizard-steps .active:after {
	border-left-color: #007ACC;
}

.foot2-line {
	color: #888 !important;
	font-size: 14px !important;
}